/* ==========
*  Pixfabrik - main.css
*  Copyright 2011, Pixfabrik, LLC.
*/

/* ---------- */
/* Main */
html {
  background: #e5e5e5 url("img/logo.png") no-repeat center top;
  min-height: 100%;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #4f4f4f;
  font-size: 30px;
  font-weight: 100;
  width: 95%;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

p {
  margin-bottom: 1em;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

#main {
  margin: 220px 0px 50px 0px;
}

.center {
  text-align: center;
}

.icon {
  -moz-box-shadow: 2px 2px 8px #aaa;
  -webkit-box-shadow: 2px 2px 8px #aaa;
  box-shadow: 2px 2px 8px #aaa;
}

#footer {
  text-align: center;
  font-size: 12px;
  margin: 0px 0px 4px 0px;
}

.things {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.thing {
  width: 350px;
  margin: 0 20px;
}

.thing img {
  width: 350px;
}
