.toc {
  padding: 0 20px;
  margin: 0 0 40px 0;
}

.toc-item {
  display: block;
  margin: 0.66em 0;
}

.faq-item {
  margin: 0 0 15px -10px;
  width: calc(100% + 20px);
  padding: 12px 10px 1px 10px;
  border-radius: 8px;
}

.faq-item h3 {
  margin: 0;
}

.faq-item.selected {
  background: #f5f5f5;
}
